@import "variables";

.header {
    background-color: $fondo_oscuro !important;
    backdrop-filter: blur($desenfoque);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 3;
    font-weight:700;
    display: grid;
    grid-template-areas: "logo nav interruptor buscador carrito";
    grid-template-columns: 15% auto 4% 4% 4%;
    grid-template-rows: 100%;
    .header__logo a {
        grid-area: logo;
        color: $fondo_claro;
        font-size: 3rem;
        text-decoration: none;
        text-shadow: $fondo_oscuro 2px 2px;
        padding-left: 1rem;
        padding-right: 1.5rem;
    }
    .header__logo a:hover {
        color: $destaque;
    }
    .header__darkmode {
        grid-area: interruptor;
        font-size: 190%;
        a {
            color: $fondo_claro;
        }
        a:hover {
            color: $destaque;
        }
    }
    .header__search {
        grid-area: buscador;
        height: 1.8rem;
        margin-right: 1rem !important;
        padding-top: 0.3rem;
        box-shadow: none;
        a {
            color: $fondo_claro;
        }
        a:hover {
            color: $destaque;
        }
    }
    .header__search__btn {
        @extend .header__search;
        color: $fondo_claro;
        border-color: $fondo_claro;
        padding-top: 0rem;
    }
    .btn-outline-success:hover {
        color: $fondo_claro;
        background-color: $destaque;
        border-color: $destaque;
    }
    .header__cart {
        grid-area: carrito;
        font-size: 150%;
        a {
            color: $fondo_claro;
        }
        a:hover {
            color: $destaque;
        }
    }
}
.links {
    margin-left: 4rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.nav-item {
    margin-right: 0.75rem;
}
.navbar {
    grid-area: nav;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}