@media screen and (min-width: 768px) and (max-width: 1200px) {
    .video {
        height: 100%;
        width: auto;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        margin: auto;
    }
    .nav-item {
        margin-left: -100px;
    }
    .links {
        margin-left: 1.2rem;
    }
    .moving-mouse-holder {
        display: none;
    }
    .form-control {
        margin-left: 20px;
    }
    .header__darkmode {
        margin-left: 8px;
    }
    .video {
        display: none;
    }
    .blur {
        display: none;
    }
    .highlight {
        z-index: 1;
    }
    #eslogan {
        margin-top: -8rem;
        margin-bottom: 15rem;
        font-size: 4rem;
    }
    #accordionExample {
        display: none;
    }
    .posts {
        margin: auto;
        width: 70%;
        height: auto;
        color: #000000;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 30rem;
        margin-top: 14rem;
        .posts__box {
            margin: 0rem 0rem 4rem 0rem;
            background-color: #ffffffb9;
            border-radius: 2rem;
            width: 15rem;
            height: 22rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            backdrop-filter: blur(10px);
            p {
                margin: 0rem 1.8rem 0.5rem 1.8rem;
            }
            .titulos {
                font-weight: bold;
                align-self: center;
                margin-bottom: 1rem;
                font-size: 1rem;
            }
            .iconos {
                font-size: 4rem;
                color: #000000c0;
                align-self: center;
                margin-bottom: 0.5rem;
                margin-top: 4rem;
            }
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: -23.75rem;
    }
    .footer__map {
        width: 100%;
        height: auto;
        margin: 0px 0px 40px -60px;
        iframe {
            width: 100% !important;
            height: auto;
        }
    }
    .footer__brands {
        padding: auto;
        margin-bottom: 30px;
    }
    .footer__brands p {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 40px;
    }
    .footer__brands img {
        margin: 0 0px 40px 0px;
        padding: 0;
        justify-items: space-evenly;
    }
    .footer__social {
        padding-bottom: 30px;
        margin: center;
        justify-content: center;
    }
    .contenedor {
        margin-bottom: 30rem;
        width: 80%;
    }
    .contacto {
        display: flex;
        flex-flow: column;
    }
    .datos {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .formulario {
        margin: auto;
        height: 100%;
        width: 100%;
    }
    .tituloSeccion-3 {
        width: 100%;
        text-align: start;
    }
    .faqs {
        width: 80%;
        margin: auto;
        padding: 0px;
        text-align: start;
    }
    .accordion {
        width: 100%;
        margin: auto;
        padding: 0px;
        margin-bottom: 30rem;
    }
    .categorias {
        width: 70%;
        margin: auto;
    }
    .principal {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        margin: auto;
    }
    .box1, .box2 {
        align-self: center;
        width: 80%;
    }
    .box2 {
        margin-bottom: 20rem;
    }
    .box2__team {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 2rem 3rem 0rem 3rem;
    }
    .nav {
        width: 90%;
        z-index: 2;
        flex-wrap: wrap;
    }
    .nav-item {
        margin-left: 0;
    }
    .articulos {
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .separador {
        height: 30rem;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        flex-wrap: wrap;
        margin: auto;
    }
    .nav-item {
        margin-left: -45px;
    }
    .moving-mouse-holder {
        display: none;
    }
    .moving-mouse-holder {
        display: none;
    }
    .form-control {
        margin-left: 20px;
    }
    .header__darkmode {
        margin-left: 8px;
    }
    .video {
        display: none;
    }
    .blur {
        display: none;
    }
    .highlight {
        z-index: 1;
        margin-top: 0rem;
    }
    .marco {
        height: 26rem;
    }
    #eslogan {
        margin-top: -4.5rem;
        margin-bottom: 10rem;
        font-size: 3rem;
        letter-spacing: 5px;
    }
    #accordionExample {
        display: none;
    }
    .w-100 {
        width: auto !important;
        height: 20rem !important;
    }
    .carousel {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .carousel__texto {
        justify-content: flex-end;
    }
    .posts {
        height: auto;
        color: #000000;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 45rem;
        width: 85%;
        margin: auto;
        margin-top: 10rem;
        .posts__box {
            margin: 0rem 0rem 2rem 0rem;
            background-color: #ffffffb9;
            border-radius: 2rem;
            width: 15rem;
            height: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            backdrop-filter: blur(10px);
            p {
                margin: 0rem 1.8rem 0.5rem 1.8rem;
            }
            .titulos {
                font-weight: bold;
                align-self: center;
                margin-bottom: 1rem;
                font-size: 1rem;
            }
            .iconos {
                font-size: 4rem;
                color: #000000c0;
                align-self: center;
                margin-bottom: 0.5rem;
                margin-top: 4rem;
            }
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: -40rem;
    }
    .footer__map {
        width: 100%;
        height: auto;
        margin: 0px 0px 20px -60px;
        iframe {
            width: 100% !important;
            height: auto;
        }
    }
    .footer__brands {
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 20px;
        height: auto;
        display: flex;
        flex-flow: column wrap;
    }
    .footer__brands p {
        text-align: center;
        margin-bottom: 20px;
        margin-left: -10px;
        font-size: 20px;
    }
    .footer .footer__brands img {
        margin: 0 10px 0 10px;
        justify-self: center;
        width: 7rem;
        height: auto;
        margin: auto;
    }
    .footer__social {
        padding-bottom: 30px;
        margin-right: 60px;
    }
    .footer__social a {
        margin-right: 100px;
    }
    .nav {
        display: none;
    }
    .subtitulo {
        font-size: 1.3rem;
    }
    .categorias {
        padding-bottom: 0;
    }
    .borroso {
        height: 15rem;
    }
    #titulo1 {
        height: 15rem;
        p {
            font-size: 3rem;
            margin-top: -7rem;
            margin-left: 1.75rem;
        }
    }
    #titulo2 {
        height: 15rem;
        p {
            font-size: 3rem;
            margin-top: -7rem;
            margin-left: 1.75rem;
        }
    }
    #titulo3 {
        height: 15rem;
        p {
            font-size: 3rem;
            margin-top: -7rem;
            margin-left: 1.75rem;
        }
    }
    #titulo4 {
        height: 15rem;
        p {
            font-size: 3rem;
            margin-top: -7rem;
            margin-left: 1.75rem;
        }
    }
    #titulo5 {
        height: 15rem;
        p {
            font-size: 3rem;
            margin-top: -7rem;
            margin-left: 1.75rem;
        }
    }
    #titulo6 {
        height: 15rem;
        p {
            font-size: 3rem;
            margin-top: -7rem;
            margin-left: 1.75rem;
        }
    }
    #titulo7 {
        height: 15rem;
        p {
            font-size: 3rem;
            margin-top: -7rem;
            margin-left: 1.75rem;
        }
    }
    #titulo8 {
        height: 15rem;
        p {
            font-size: 3rem;
            margin-top: -7rem;
            margin-left: 1.75rem;
        }
    }
    .articulos {
        width: 70%;
        grid-template-columns: 1fr;
    }
    .contenedor {
        margin-bottom: 30rem;
        width: 80%;
        display: flex;
        flex-flow: column wrap;
    }
    .contacto {
        display: flex;
        flex-flow: column wrap;
    }
    .datos {
        width: 90%;
        margin: auto;
        margin-bottom: 15rem;
        p {
            font-size: 1rem;
        }
        h3 {
            margin-top: 1rem;
        }
    }
    .gif {
        margin-top: 2rem;
    }
    .formulario {
        margin-top: 5rem;
        width: 90%;
        margin: auto;
    }
    .tituloSeccion-3 {
        width: 90%;
        margin: auto;
        padding: 0px;
        margin-bottom: 3rem;
    }
    .faqs {
        width: 90%;
        margin: auto;
        padding: 0px;
        padding-bottom: 45rem;
    }
    .accordion {
        width: 90%;
        margin: auto;
        padding: 0px;
    }
    .categorias {
        width: 100%;
        margin: auto;
        padding-left: 3rem;
    }
    .principal {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        margin: auto;
    }
    .box1, .box2 {
        align-self: center;
        width: 80%;
        padding: 0rem;
    }
    .box1 {
        margin-bottom: 5rem;
    }
    .box2 {
        margin-bottom: 35rem;
    }
    .box1__text {
        margin: 0rem 2rem 2rem 2rem;
        font-size: 1rem;
    }
    .box1__titulo, .box2__titulo {
        margin-left: 2rem;
    }
    .separador {
        height: 45rem;
    }
    .flecha {
        display:block;
        width: 3.8rem;
        margin: auto;
        position: fixed;
        z-index: 2;
        bottom: 20px;
        right: 20px;
        padding: 1rem;
        background-color: #0000009a;
        border-radius: 1rem;
    }
    
    .flecha i {
        font-size: 2rem;
        margin: auto;
        width: auto;
        height: auto;
        color: #ffffff;
    }
}
